.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
}

.MyApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #faf9f6;
}
.buttonDiv {
  width: 80%;
  height: 8%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  background-color: #faf9f6;
}

.btn {
  margin-top: 1rem;
  border: none;
  background-color: #1d4ed8;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 5px #ccc;
}
